/* РОЗБИРАЄМО ОСНОВНІ 3-4 КОЛЬОРИ САЙТУ

колір основного тексту
#757575; 

другорядний колір тексту 
rgba (0. 0 . 0 . 0.8) 

білий #ffffff 

акцент (форми, кнопки  та інше)
#18AOFB 

другорядний колір фону 
#F5F5F5

ФОН
background: #e5e5e5; */

:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --description-grey-color: rgba(117, 117, 117, 1);
}

body {
  background-color: #ffffff;

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* Site navigation */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;

  padding-right: 20px;
  padding-left: 20px;

  /* тимчасова міра, для зручності  */
  outline: 2px dashed teal;
}

.container .center {
  text-align: center;
}

.section {
  /* padding-top: 95px;
  padding-bottom: 95px; */
  margin-bottom: 95px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

p {
  margin: 0px;
}
.list {
  list-style: none;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
}
.link .logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
}
.logo-web {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-studio {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact {
  color: var(--description-grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.contact.padding {
  padding-bottom: 10px;
}

.contact-nav .contact:hover,
.contact-nav .contact:focus {
  color: var(--accent-color);
}

/* HERO */
.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--primery-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--title-text-color);
  background-color: var(--primery-white-color);

  font-size: 16px;
  line-height: 1.9;

  display: inline-block;
  padding: 12px 24px;

  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.button.primery {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  border-color: transparent;
  color: var(--primery-white-color);
}

/* Feature list */

.title {
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 0;
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  text-decoration: none;
}

.section-text {
  margin-top: 0px;
  margin-right: 30px;
  color: #757575;

  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся - Наша команда  - */

.section-title {
  padding: 4px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.working-box {
  display: inline-block;
  text-align: center;
  padding-left: 30px;
}

.team-box {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 95px;
  border: 270px 370px;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

  /* outline: 2px solid green; */
}

.team-photo {
  display: inline-block;
  margin-bottom: 30px;
}

.team-name {
  margin: 0px 0px 10px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
}

.skills {
  margin: 0px 0px 30px 0px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;

  text-align: center;
}

/* Підвал */

.footer {
  background-color: #2f303a;
}

.white {
  color: #ffffff;
}

.address {
  margin-bottom: 10px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

/* ПОРТФОЛИО */

/* Навигация - page-nav */

.filtrum {
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  border: 1px solid transparent;
  box-shadow: 0px 4px 4px transparent;
  border-radius: 4px;
  text-align: center;
}

.page-nav:hover {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}

/* Застосовувати до інтерактивних елементів! ПРИ ПЕРЕКЛЮЧЕННІ"ТАБ", ЛИША НА ПОСИЛАННЯХ, КНОПКАХ!  */
.page-nav:focus {
  color: cadetblue;
}

/* Застосовувати до інтерактивних елементів! ПРИ НАТИСКАННІ */
.page-nav:active {
  color: rgb(180, 0, 189);
}

/* Examples - приклади */

.examples-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.font {
  font-size: 16px;
  line-height: 1.9;
}
